body {
  /*margin: 0 10px;*/
  object-fit: cover;

  overflow: auto;
  border: red 1px solid;
  background-color: black;
  font-family: "Times New Roman", TimesNewRoman, Times, Baskerville, Georgia,
    serif;
}
