.section-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: red 1px solid;
  padding-top: 32px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  margin-right: auto;
  margin-left: auto;
  .section-name {
    text-decoration: none;
    //    text-transform: uppercase;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 54px;
    line-height: 60px;
  }
  .image-grid-container {
    //position: relative;
    width: auto;
    //border: rgb(0, 255, 140) solid 4px;
    display: flex;
    justify-content: center;
    .image-grid {
      column-count: 3;
      //max-width: 800px;
      justify-content: center;
      padding: 30px;
      gap: 10px;

      .image-grid-columns {
        > * {
          padding-top: 7px;
          padding-bottom: 7px;
        }
        .image-container {
          position: relative;
          max-width: 350px;

          overflow: hidden;

          cursor: pointer;

          .image-overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            transition: all 0.7s ease; // Specify the transition properties
            opacity: 0;

            &.show {
              opacity: 1;
              height: auto;
              //z-index: 1;
            }
          }

          img {
            max-width: 100%;
            height: auto;
            transform: scale(1);
            transition: all 1s ease;

            &:hover {
              transform: scale(1.2); // Apply the scale transformation on hover
              opacity: 0.4;
              background: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section-gallery {
    margin-top: 30px;
    .section-name {
      margin-bottom: 0px;
    }
    .image-grid-container {
      //position: relative;
      width: auto;
      //border: rgb(0, 255, 140) solid 4px;
      display: flex;
      justify-content: center;
      .image-grid {
        column-count: 2;
        max-width: 800px;
        justify-content: center;
        padding: 30px;
      }
    }
  }
}
