.aboutMeWrapper {
  border: 1px royalblue solid;
  display: grid;
  //justify-content: space-between;
  grid-auto-flow: column;
  grid-auto-columns: 10fr;

  //max-height: 5rem;
  margin: 0 auto;

  .aboutMeImageWrapper {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    //border: 1px solid #ccc;
    //box-shadow: 2px 2px 5px #ccc;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .aboutMeDescriptionWrapper {
    background-color: black;
    color: white;
  }
}
