.footer-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 2%;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: #101010;
  justify-content: center;

  .footer-container {
    display: flex;
    color: aliceblue;
  }
  .footer-icons-wrapper {
    display: none;
  }

  @media screen and (max-width: 706px) {
    .footer-icons-wrapper {
      display: flex;
    }
    .footer-icons {
      margin-left: 1rem;
      color: white;
    }
  }
}
