/*.navbar {
  border: 2px solid red;
  padding: 1rem 6rem;
  background-color: #f7f7f7;
}

#navbarNavAltMarkup {
  a {
    border: 1px solid blue;
  }
  text-align: center;
  font-size: larger;
}

@media screen and (max-width: 500px) {
  #navbarNavAltMarkup > a {
    border: 1px solid blue;
  }
}

@media screen and (min-width: 576px) {
  #navbarNavAltMarkup {
    border: 1px solid red;
    justify-content: right;

    .navbar-nav {
      gap: 3rem;
    }

    a {
      border: 1px solid red;
    }
  }
}
*/

:root {
  --offset-value: 30;
  --btn-size: 60;

  --green: #4eca78;
}

.header-display-desktop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: transparent;
  //width: 100%;
  //border: red 1px solid;
  box-sizing: border-box;
  align-items: center;
  padding: 1.3rem 6rem;
  transition: background-color 0.7s ease-in-out;
  //transition: opacity 4s;
  z-index: 2;
}

.header-title-nav-wrapper {
  //border: blue 1px solid;
  display: flex;
  flex: 1 0 85%;
  justify-content: space-between;
}
.navbar-brand {
  //border: red 1px solid;
  width: 70px;
  height: auto;
  border-radius: 50%;
  display: flex;
  object-fit: contain;
  overflow: hidden;
}
.header-icons-wrapper {
  //border: blue 1px solid;
  display: flex;
}
.header-nav {
  justify-content: center;
  align-items: center;
  display: flex;
  //border: rebeccapurple solid 1px;
}

.desktop-header-nav-item {
  //border: red solid 1px;
  margin: 0 1.5rem;
  color: azure;
  font-family: "Josefin Sans";
}

.header-icons {
  //border: red solid 1px;
  margin-left: 1rem;
  color: white;
}

.RxHamburgerMenu {
  display: none;
}
.MobileFullScreenMenu {
  display: none;
}

.btn {
  display: none;
}

@media screen and (max-width: 706px) {
  .desktop-header-nav-links {
    display: none;
  }
  .header-icons-wrapper {
    display: none;
  }
  .react-icons {
    size: 20;
    color: red;
  }
  .RxHamburgerMenu {
    display: block;
  }
  .header-display-desktop {
    padding: 2.5rem 2rem;
  }
  .MobileFullScreenMenu {
    display: block;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    width: auto;
    position: fixed;
    //border: red solid 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //background: linear-gradient(to top right, #4eca78, #d0db68);
    z-index: 1001;
    .Mobile-header-nav-links {
      display: flex;
      flex-direction: column;
      //margin-left: 1rem;
      color: black;
      justify-content: center;
      align-items: center;

      .MobileFullScreen-header-nav-item {
        margin: 3rem;
        color: black;
        font-family: "Josefin Sans";
        font-size: xx-large;
      }
    }
  }

  /* =======
WRAPPER
======= */
  .wrapper {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to top right, #4eca78, #d0db68);
  }

  /* =====================
NAVIGATION BACKGROUND
===================== */
  #nav-bg {
    transform-origin: center center;
    transition: transform 0.3s;
    transform: translate(var(--translate-x), var(--translate-y))
      scale(var(--scale));
    will-change: transform;
    pointer-events: none;
  }

  /* ======
BUTTON
====== */
  .btn {
    display: block;
    position: fixed;
    height: calc(var(--btn-size) * 1px);
    width: calc(var(--btn-size) * 1px);
    top: calc((var(--offset-value)) * 1.2px);
    right: calc(var(--offset-value) * 1px);
    /*left: calc(50% - (var(--btn-size)/2*1px)); if you wish to center it */
    border-radius: 50%;
    background: #fafafa;
    cursor: pointer;
    margin: 0;
    padding: 0 15px;
    border: none;
    z-index: 100;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  #toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(black);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  #toggle-btn span {
    position: relative;
    width: 100%;
  }

  #toggle-btn span {
    margin-top: -4px;
  }
  #toggle-btn span + span {
    margin-top: 8px;
  }

  #toggle-btn span:before,
  #toggle-btn span:after {
    content: "";
    position: absolute;
    top: 0;
    background: black;
    opacity: 1;
    height: 100%;
    width: 50%;
    height: 4px;
    transition: 0.25s cubic-bezier(0.6, 0, 0.3, 1);
    transform-origin: center center;
  }

  #toggle-btn span:before {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  #toggle-btn span:after {
    right: 0;
    border-radius: 0 3px 3px 0;
  }

  #toggle-btn.shown span:nth-of-type(1):before {
    transform: translate3d(3px, 3.5px, 0) rotate(45deg);
  }

  #toggle-btn.shown span:nth-of-type(1):after {
    transform: translate3d(-3px, 3.5px, 0) rotate(-45deg);
  }

  #toggle-btn.shown span:nth-of-type(3):before {
    transform: translate3d(3px, -3.5px, 0) rotate(-45deg);
  }

  #toggle-btn.shown span:nth-of-type(3):after {
    transform: translate3d(-3px, -3.5px, 0) rotate(45deg);
  }

  #toggle-btn.shown span:nth-of-type(2):before,
  #toggle-btn.shown span:nth-of-type(2):after {
    opacity: 0.0001;
  }

  #toggle-btn.shown span:nth-of-type(2):before {
    transform: translateX(-200%);
  }

  #toggle-btn.shown span:nth-of-type(2):after {
    transform: translateX(200%);
  }

  #toggle-btn.shown:before {
    transform: scale(0.6);
    transition: 0.2s;
  }

  #toggle-btn:before {
    content: "";
    transition: 0.2s 0.2s;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: inherit;
    filter: blur(5px);
    z-index: -2;
  }
  #toggle-btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #fafafa;
    z-index: -1;
  }
}
