/*.navbar {
  border: 2px solid red;
  padding: 1rem 6rem;
  background-color: #f7f7f7;
}

#navbarNavAltMarkup {
  a {
    border: 1px solid blue;
  }
  text-align: center;
  font-size: larger;
}

@media screen and (max-width: 500px) {
  #navbarNavAltMarkup > a {
    border: 1px solid blue;
  }
}

@media screen and (min-width: 576px) {
  #navbarNavAltMarkup {
    border: 1px solid red;
    justify-content: right;

    .navbar-nav {
      gap: 3rem;
    }

    a {
      border: 1px solid red;
    }
  }
}
*/

.header-display-desktop {
  display: flex;
  background-color: black;
  //width: 100%;
  border: red 1px solid;
  box-sizing: border-box;
  align-items: center;
  padding: 2rem 6rem;
}

.header-title-nav-wrapper {
  //border: blue 1px solid;
  display: flex;
  flex: 1 0 85%;
  justify-content: space-between;
}
.navbar-brand {
  //border: red 1px solid;
  width: 70px;
  display: flex;
  object-fit: contain;
}
.header-icons-wrapper {
  //border: blue 1px solid;
  display: flex;
}
.header-nav {
  justify-content: center;
  align-items: center;
  display: flex;
  //border: rebeccapurple solid 1px;
}

.desktop-header-nav-item {
  //border: red solid 1px;
  margin: 0 1.5rem;
  color: azure;
  font-family: "Josefin Sans";
}

.header-icons {
  //border: red solid 1px;
  margin-left: 1rem;
  color: white;
}

.RxHamburgerMenu {
  display: none;
}
.MobileFullScreenMenu {
  display: none;
}

@media screen and (max-width: 706px) {
  .desktop-header-nav-links {
    display: none;
  }
  .header-icons-wrapper {
    display: none;
  }
  .react-icons {
    size: 20;
    color: red;
  }
  .RxHamburgerMenu {
    display: block;
  }
  .header-display-desktop {
    padding: 2.5rem 2rem;
  }
  .MobileFullScreenMenu {
    display: block;

    .MobileFullScreenMenuOverlay {
      position: fixed; /* Sit on top of the page content */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
      background-color: white;
      border: 1 red solid;
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
    }
    .Mobile-header-nav-links {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      color: black;
      justify-content: center;
      align-items: center;

      .MobileFullScreen-header-nav-item {
        margin: 3rem;
        color: black;
        font-family: "Josefin Sans";
        font-size: xx-large;
      }
      .RxCross1 {
        position: absolute;
        top: 5px;
        right: 5px;
        border: solid black 1px;
        padding: 10px;
        border-radius: 50%;
      }
    }
  }
}
